@charset "UTF-8";

$navbar-background-color: #eaf0f3;

$navbar-font-color: #eaf0f3;

$custom-brown: #7a6e64;

@import "../vendor/bootstrap/scss/bootstrap";


.logo-icon{
  width: 20px;
  height: auto;
  display: inline-block;
}

.navbar{
background-color: $navbar-background-color;
  color: $navbar-font-color;
  padding-top: 0px;
padding-bottom: 0px;

  .nav-link{
    padding-left: 20px !important;
    padding-right: 20px !important;
    $custom-brown: #7a6e64;
    font-weight: 600;
  }
}
.nav-user-btn{
  font-size: 24px;
}

.img-text{
  position: relative;
}

.hero-img {
  width: 100%;
  height: 500px;      /* equal height for both images */
  object-fit: cover;  /* crop instead of stretch */
  display: block;
}

.hero-label {
  position: absolute;
  bottom: 10%;  /* better placement than top: 90% */
  left: 50%;    /* center horizontally */
  transform: translateX(-50%);
  background-color: #7a6e64;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 400;
  white-space: nowrap;
}

.hero-about{
color: $custom-brown;
  letter-spacing: 2px;
  font-weight: 200;
}

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; /* crop inside circle */
  display: block;
  margin: 0 auto; /* center */
}



.hero-about-text{
  font-weight: 400px;
}