@charset "UTF-8";

$navbar-background-color: #eaf0f3;

$navbar-font-color: #eaf0f3;

@import "../vendor/bootstrap/scss/bootstrap";


.logo-icon{
  width: 20px;
  height: auto;
  display: inline-block;
}

.navbar{
background-color: $navbar-background-color;
  color: $navbar-font-color;
  padding-top: 0px;
padding-bottom: 0px;

  .nav-link{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #7a6e64;
    font-weight: 600;
  }
}
.nav-user-btn{
  font-size: 24px;
}